<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcement Page</title>
    <link rel="stylesheet" type="text/css" href="css/admin.css">
</head>
<body>
	<div id="col-12" class="header">
		<div id="col-3">
			<a href="dashboard.html" class="logo-link">
  				<img src="img/logo.png" class="logo-head" id="pulse-grow" title="Logo">
			</a>
		</div>
		<!-- <div id="col-6">
		    <div class="search-container">
		        <input class="search" type="search" placeholder="Search">
		        <div class="search-icon"></div>
		    </div>
		</div> -->
		<div id="col-3" class="section-3"></div>
		<div id="col-3" class="section-3"></div>
		<div id="col-3" class="section-3">
			<a href="dashboard.html" class="logo-link">
  				<img src="img/home.png" class="home-icon" alt="Home" title="Homepage"></a>
  				<div class="user-icon-container">
			        <img src="img/user.png" class="user-icon" id="user-icon">
			        <div class="dropdown-content" id="dropdown-content">
			           
			            <a href="login.html">Logout</a>
			        </div>
			    </div>
		</div>

		<div id="col-12" class="main-content">
			<div id="col-2" class="main-content-side-nav">
				<img src="img/shops.png" class="side-img-bac">
				<div class="dropdown-year">
					<label for="lang" style="">CREATE ANNOUNCEMENT</label><br>
				</div>
				
			</div>
			<div id="col-10">
				<div class="white-space">
					<h1 style="font-family: 'Varela Round', sans-serif;text-align: center;font-size: 27px;text-transform: uppercase;margin-top: 58px;">Send an announcement to our valid users!</h1>
					<div class="compose-form">
						<form id="composeEmailForm">

							<label for="subject">Subject:</label>
							<input type="text" id="subject" name="subject" required>

							<label for="message">Message:</label>
							<textarea id="message" name="message" rows="4" required></textarea>

							<input type="submit" value="Send Email">
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	

</body>
</html>


