<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home Page</title>
    <link rel="stylesheet" type="text/css" href="css/admin.css">
</head>
<body>
	<div id="col-12" class="header">
		<div id="col-3">
			<a href="dashboard.html" class="logo-link">
  				<img src="img/logo.png" class="logo-head" id="pulse-grow" title="Logo">
			</a>
		</div>
		
		<!-- <div id="col-6">
		    <div class="search-container">
		        <input class="search" type="search" placeholder="Search">
		        <div class="search-icon"></div>
		    </div>
		</div> -->
		<div id="col-3" class="section-3"></div>
		<div id="col-3" class="section-3"></div>
		<div id="col-3" class="section-3">
			<a href="user-info.html" class="logo-link">
  				<img src="img/home.png" class="home-icon" alt="Home" title="Homepage"></a>
  				<div class="user-icon-container">
			        <img src="img/user.png" class="user-icon" id="user-icon">
			        <div class="dropdown-content" id="dropdown-content">
			    
			            <a href="login.html">Logout</a>
			        </div>
			    </div>
		</div>

		<div id="col-12" class="main-content">
			<div id="col-2" class="main-content-side-nav">
				<img src="img/shops.png" class="side-img-bac">
				<div class="dropdown-year">
					<label for="lang" style="">DASHBOARD</label><br>
				</div>
				<div class="side-bar-menu">
					<ul>
						<br>
						<br>
						<br>
			            <li><a href="user-info.html">User Information Management</a></li>
			            <br>
			            <li><a href="history.html">History</a></li>
			            <br>
			            <li><a href="backup.html">Data Back-up and Recovery</a></li>
			            <br>
			            <li><a href="announcement.html">Create Announcement</a></li>
			            <br>
			            <br>
			            <br>
			            <br>         
			            <li><a href="login.html">Logout</a></li>
			        </ul> 
				</div>
			</div>
			<div id="col-10">
				<div class="white-space">
					<h1>Prince Online Card Registration System</h1>
					<h3></h3>
				</div>
			</div>
		</div>

	</div>
	

</body>
</html>


